<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <!--<link href="assets/css/pygments/default.css" rel="stylesheet" media="screen"> -->
  </head>
  <body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/">意到筆隨</a></h2>
        </div>
      </div>
    </div>
