<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <!--<link rel="stylesheet" type="text/css" href="/assets/github.css">-->
  </head>
  <body>
    <script language="javascript" type="text/javascript" src="/assets/analytics.js"></script>
    <table class="column">
      <tr>
        <td>
          <h1><a href="/">{{ site.name }}</a></h1>
        </td>
      </tr>
        <td>
          <hr>
