/*
- the overall design should be simple and elegant
- text should be large and clear
- links and code should be different from normal text
- the layout should be adaptable to different window/screen sizes
*/

/* layout */

.column {
  border: 1px;
  width:95%;
  max-width: 800px;
  padding: 15px 15px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  word-wrap:break-word;
  /*background-color: white;*/
  /*border-radius:5px;*/
  /*box-shadow: 5px 5px 20px #CCCCCC;*/
}

.center {
  text-align:center;
}

/*
hr {
  height: 1px;
  color: #505050;
  background: #505050;
  border: 0
}
*/

/* text */

body
{
  /*background-image: url('/assets/diagonal_striped_brick.png');*/
  /*background-attachment: fixed;*/
  background-color: #FFFFFF;
  font-family:"Georgia", "Times New Roman", serif;
  font-size:120%;
  color:#444444;
  line-height: 150%;
}
a:link {
  color:#333333;
  font-weight: bold;
  text-decoration:none;
  border-bottom: 1px dotted;
}
a:visited {
  color:#333333; 
  text-decoration:none;
  border-bottom: 1px dotted;
}
a:hover {
  color:#40BFED; 
  text-decoration:none;
  border-bottom: 1px solid;
}
.muted {color:#888888;font-size:0.9em}

h1 a:link, h1 a:visited {
  border-bottom: 0;
}
h2 a:link, h2 a:visited {
  border-bottom: 0;
}

h1 {
  font-family: "Courier New";
  text-shadow: 2px 2px 2px #DDDDDD;
}
h2 {
  text-shadow: 1px 1px 1px #DDDDDD;
}

/* code */

code {
  background:#F8F8F8;
  padding: 1px 5px;
  margin: 1px 5px;
  border: 1px solid #C8C8C8;
  border-radius:5px;
}
pre code { 
  background:none;
  border: 0px;
  padding: 0px 0px;
  margin: 0px 0px;
}
pre {
  background:#F8F8F8;
  /*background-image: url('/assets/tiny_grid/tiny_grid.png');*/
  padding: 10px 10px;
  border: 1px solid #C8C8C8;
  border-radius:5px;
}

/* image */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* lists */
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  content: "-";
  padding-right: 5px;
}
